# Copia esto en Render como variables de entorno
# NO subas este archivo a GitHub con datos reales

PORT=3000

# PostgreSQL - Render te da estos datos automáticamente
DATABASE_URL=postgresql://usuario:password@host:5432/campusvirtual_db

# O separados:
DB_HOST=localhost
DB_PORT=5432
DB_NAME=campusvirtual_db
DB_USER=postgres
DB_PASSWORD=tu_password

# JWT - cambia esto por una clave larga y segura
JWT_SECRET=campusvirtual_clave_super_secreta_2024
